# Algorand Network
NEXT_PUBLIC_ALGOD_NETWORK=testnet
NEXT_PUBLIC_ALGOD_SERVER=https://testnet-api.algorand.stackprint.io
NEXT_PUBLIC_ALGOD_TOKEN=
NEXT_PUBLIC_INDEXER_SERVER=https://testnet-idx.algorand.stackprint.io

# WalletConnect (optional, for WalletConnect support)
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=your_project_id

# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000
